* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 16px;
}
body {
    background-color: #fff;
    color: #747474;
    font-family: 'ivy-presto', sans-serif;
    margin: 0 auto !important;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    max-width: 170rem;
}
p {
    font-family: Inter;
}
.foundermessage .contentwrap p, .row.collectionbuttonright ul.blockbtn li a, .blockbtn li a {
    font-family: 'ivy-presto', sans-serif;
}    
a, a img, img {
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}
abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}
h1,h2,h3,h4,h5,h6, .navbar-col ul li a, .foundermessage .contentwrap p {
    font-family: ivy-presto;
}
ul  {
    list-style: none;
    padding-left: 0
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 3.2rem;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
header.siteheader {
    padding: 3.375rem 0;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}
.contentpara p span {
    font-weight: 300;
    font-family: inter;
}
header.siteheader .logo {
    width: 13.75rem;
}
header.siteheader .logo svg {
    width: 100%;
}
.navbar-col ul {display: flex;}

header.siteheader .row {
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.navbar-col ul li a {
    color: #fff;
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1.125rem;
}

.buttonright .button {
    text-decoration: none;
    text-transform: uppercase;
    color: #8B0000;
}

.buttonright .button svg {
    margin-left: 3px;
}

.mainbanner {
    height: 112.5rem;
    position: relative;
    padding-top: 20rem;
}

.mainbanner .imagebg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
}

.collectionsection {padding-top: 80px;position: relative;}

.collectionbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    display: block !important;
}

.mainbanner .container {
    height: 100%;
}

.mainbanner .container .row {
    height: 100%;
}

.contentbanner {
    height: 100%;
    position: relative;
    z-index: 1;width:100%;
}

.contentbanner .heading {
    padding-bottom: 40rem;
}
.contentpara {
    margin-left: auto;
    margin-right: 0;
}

.contentpara p {
    font-family: Inter;
    color: #fff;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.4;
}
.contentpara p span.gap {
    display: inline-block;width: 12.5rem;
}
.contentbanner .heading h1 {
    font-size: 5rem;
    color: #fff;
    font-weight: 100;
    line-height: 1.3;
    text-transform: uppercase;
}
.contentbanner .heading h1 span {
    font-style: italic;text-transform: lowercase;font-weight: 100;
}
.contentpara {
    max-width: 68rem;
}
.contentpara p span {
    opacity: 0;
    transform: translateY(20px);
}
.col-7 {
    width: 70%;
}
.col-6 {
    width: 60%;
}
.col-4 {
    width: 40%;
}
.col-3 {width: 30%;}
.col-55 {
    width: 55%;
}
.col-12 {width: 100%;}
.col-8 {
    width: 80%;
}
img {
    max-width: 100%;
}
.col-25 {
    width: 25%;
}
.col-65 {
    width: 65%;
}
.spacebetween {
    justify-content: space-between;
}
.collectionblock h4 {
    color: #8B0000;
    padding-top: 25px;
    font-size: 2rem;
    font-weight: 400;
}
.row.collectionmiddleright {
    justify-content: end;
    padding: 8rem 0;
}
.row.collectionmiddleright h4 {
    text-align: right;
}
.row.collectionmiddleleft {
    padding-bottom: 12rem;
}
.row.collectionbuttonright {
    padding-bottom: 10rem;
    justify-content: right;
}
.row.collectionbuttonright ul.blockbtn, .blockbtn {
    display: flex;
}
.row.collectionbuttonright ul.blockbtn li a, .traditioncontent .button, .storysuidhagaa ul.blockbtn li a, .blockbtn li a  {
    font-size: 18px;
    color: #8B0000;
    text-transform: uppercase;
    padding-bottom: 1rem;
    border-bottom: 1px solid #3C2D22;
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
}
.row.collectionbuttonright ul.blockbtn li a svg, .traditioncontent .button svg, .storysuidhagaa ul.blockbtn li a svg, .blockbtn li a svg {
    margin-left: 10px;
}
.row.collectionbuttonright ul.blockbtn li:first-child a {
    color: #3C2D22;
}
.handcraftedwithlove {
    padding-top: 12rem;
}
.handcraftedwithlove .heading h2 {
    position: relative;
    font-size: 4rem;
    color: #582616;
    font-weight: 100;
    padding-bottom: 20px;
    display: inline-block;
    background: #fff;
    margin-bottom: 40px;
}

.handcraftedwithlove .heading h2:after {
    position: absolute;
    width: 100%;
    height: 0p;
    background: transparent;
    content: "";
    bottom: 0;
    left: 0;
    border-bottom: 1px dashed #A09E75;
}

.handcraftedwithlove .heading p {
    font-size: 1.125rem;
    font-family: Inter;
    line-height: 1.6;
    color: #582616;
    width: 60%;
}

.handcraftedwithlove .row {
    align-items: flex-end;
    padding-bottom: 6rem;
}

.handcraftedwithlove .row ul.blockbtn, .storysuidhagaa ul.blockbtn {
    display: flex;
    justify-content: flex-end;
}

.handcraftedwithlove .row ul.blockbtn li a {
    margin-left: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    color: #3C2D22;
}

.handcraftedwithlove .row ul.blockbtn li a svg path {
    stroke: #3C2D22;
}
.handcraftedwithloveslider {
    margin-right: -3.125rem;
    display: flex;
    overflow-x: auto;
    gap: 0;
    flex-wrap: unset !important;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.handcraftedwithloveslider .handcraftedwithslide {
    scroll-snap-align: start;
    flex: 0 0 calc(100% / 3.2);
}

.handcraftedwithslideinnr img {
    width: 100%;
    padding: 10px;
}
.row.fullcollection h4 {
    text-align: right;
}

.foundermessage .contentwrap {
    max-width: 56rem;
    padding: 20rem 0 4rem;
    margin: 0 auto;
    text-align: center;
}

.foundermessage .contentwrap p {
    font-size: 2rem;
    color: #3C2D22;
    font-weight: 100;
    line-height: 1.6;
    margin-bottom: 30px;
}

.foundermessage .contentwrap h6 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #582616;
    font-style: italic;
    display: inline-block;
    border-top: 1px dashed #A09E75;
    padding-top: 3.75rem;
}

.foundermessage  .blockwrappper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 17rem;
}

.foundermessage .blockwrappper .blockcol {
    width: calc(100% / 3);
    padding: 8px;
}

.foundermessage .blockwrappper .blockcol .image img {
    width: 100%;
}

.exclusiveeventsection {
    text-align: center;
}

.exclusiveeventsection .wrappercontent {padding: 4rem 0 4rem;background: #E7D7B3;}

.exclusiveeventsection .wrappercontent h6 {
    font-size: 1rem;
    color: #000;
    font-family: Inter;
    font-weight: 300;
    margin-bottom: 20px;
}

.exclusiveeventsection .wrappercontent h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
    color: #000;
    line-height: 1.2;
}

.exclusiveeventsection .wrappercontent p {
    max-width: 37.5rem;
    font-size: 1rem;
    color: #000;
    margin: 0 auto 2.5rem;
    line-height: 1.6;
    font-family: Inter;
}

.exclusiveeventsection .wrappercontent .buttongrp .btndesign {
    background: #582616;
    text-transform: capitalize;
    color: #fff;
    font-size: 0.875rem;
    border-radius: 4px;
    width: 9.375rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.25rem;
}

.exclusiveeventsection .wrappercontent .buttongrp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-15 {
    width: 15%;
}
.exclusiveeventsection .wrappercontent .buttongrp a.button {
    text-transform: uppercase;
    color: #582616;
    text-decoration: none;
    font-size: 1.125rem;
}
.exclusiveeventsection {
    background-image: linear-gradient(transparent, #FAF8F8);
    padding-bottom: 8rem;
}
.exclusiveeventsection .wrappercontent .buttongrp a.button svg {
    margin-left: 6px;
}
.row.footertop {
    padding-top: 6rem;
    padding-bottom: 10rem;
}

.headingfooter h6 {
    color: #8B0000;
    font-size: 1.125rem;
    margin-bottom: 3.75rem;
    font-weight: 300;
}

footer .menu ul li a {
    font-family: Inter;
    font-size: 1rem;
    color: #8B0000;
    text-decoration: none;
    font-weight: 300;
    display: inline-block;
    padding: 5px 0;
}

.contactfooter {
    max-width: 37.5rem;
    margin-left: auto;
}

.contactfooter p {
    font-size: 2rem;
    font-family: Inter;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-weight: 300;
}

.contactfooter p a {
    color: #333;
    text-decoration: none;
}
.contactfooter .sign {
    margin-top: 2rem;
}
.contactfooter p:first-child a {
    text-decoration: underline;
}
.copyrights {
    padding-bottom: 3.75rem;
}
.copyrights p {
    font-size: 1rem;
    color: #8B0000;
    text-decoration: none;
    font-weight: 300;
    font-family: Inter;
}
.copyrights .row {
    justify-content: space-between;
}
.copyrights p span {
    margin-left: 5rem;
}
.exclusiveeventsection .wrappercontent .buttongrp .btndesign {
    cursor: pointer;
}
.exclusiveeventsection .wrappercontent .buttongrp .btndesign:hover {
    background-color: #000;
}
.collectionsection {
    position: relative;
    overflow: hidden;
}
/* .collectionsection #linepath {
    position: absolute;
    top: 100px;
    left: 190px;
    z-index: -1;
} */
.collectionsection #linepath {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
}
.collectionblock .img img {
    filter: grayscale(1);
}
.collectionblock .img img:hover {
    filter: none;
}
.handcraftedwithloveslider .handcraftedwithslide {
    width: calc(100% / 3.5);
    padding: 10px;
}

.handcraftedwithslideinnr img {
    height: 6rem;
}
.handcraftedwithslideinnr .img video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.handcraftedwithslideinnr .img {
    height: 38rem;
    border-radius: 8px;
    overflow: hidden;
}
.handcraftedwithslideinnr {
    width: 100%;
}
.foundermessageslider {
    margin-bottom: 6rem !important;
}
.foundermessageslider {
    margin-bottom: 6rem !important;
}
.foundermessageslider ul.slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 4px;
}
.foundermessageslider ul.slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0;
    background: #ddd;
    border-radius: 30px;
}
.foundermessageslider ul.slick-dots li button:before {
    display: none;
}
.foundermessageslider ul.slick-dots li.slick-active button {
    width: 20px;
    background: #a90000;
}
.foundermessageslider ul.slick-dots li.slick-active {
    width: 20px;
}
.bannerslider {
    position: absolute !important;
    top: 0;
    width: 100%;
    height: 100%;
}
.mainbanner {
    position: relative;
}
.bannerslider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.mainbanner:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgb(113 68 65 / 0%) 0%, rgba(113, 68, 65, 0.4) 40%, rgba(113, 68, 65, 1) 100%);
}
header.siteheader .logo svg path {
    fill: #8B0000;
}
.row.collectionbuttonright ul.blockbtn li:first-child a svg path {
    stroke: #3C2D22;
}
.handcraft_header_title h2 {
    font-size: 2.5rem;
    font-weight: bold;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
  }

.handcraft_header_title .line {
    display: inline-block;
    transform: translateY(100%);
}
.handcraft_header_description span {
    display: inline-block;
    overflow: hidden;
    transform: translateY(100%);
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: #981d1d;
}
.preloader .loaderinnr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/* Hidden state */
.preloader.hidden {
    opacity: 0; /* Fade out */
    pointer-events: none; /* Prevent interaction */
}
.row.collectionbuttonright ul.blockbtn li a, .buttonright .button, .handcraftedwithlove .row ul.blockbtn li a, .traditioncontent .button,
.storysuidhagaa ul.blockbtn li a, .blockbtn li a {
    border: none;
    position: relative;
}
.row.collectionbuttonright ul.blockbtn li a:after, .buttonright .button:after, .handcraftedwithlove .row ul.blockbtn li a:after, .traditioncontent .button:after,
.storysuidhagaa ul.blockbtn li a:after, .blockbtn li a:after {
    transition: 0.5s ease-in-out;
    content: "";
    width: 0;
    height: 1.5px;
    background: #8B0000;
    position: absolute;
    bottom: 0;
    right: 0;
}
.buttonright .button:after {
    bottom: -5px;
}
.row.collectionbuttonright ul.blockbtn li a:hover:after, .buttonright .button:hover:after, 
.handcraftedwithlove .row ul.blockbtn li a:hover:after, .traditioncontent .button:hover:after,
.storysuidhagaa ul.blockbtn li a:hover:after, .blockbtn li a:hover:after {
    width: 100%;
}

/* Start: Contact Page Css */
.pd-14 {
    padding-top: 14rem;
}
.contactpagesection .contactrow h6 {
    font-family: 'Inter';
    font-size: 20px;
    line-height: 1.4;
    color: #000;
    opacity: 0.5;
    margin-bottom: 1rem;
    font-weight: 300;
}

.contactpagesection .contactrow h2, .contactforminnr h2 {
    font-size: 3rem;
    /* font-style: italic; */
    line-height: 1.4;
    color: #8B0000;
    margin-bottom: 5rem;
    font-weight: 100;
}

.contactpagesection .contactrow h4 {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.4;
    color: #8B0000;
    margin-bottom: 15px;
}

.contactpagesection .contactrow ul li {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.4;
    color: #000;
    margin-bottom: 4px;
    font-family: 'Inter';
}

.contactpagesection .contactrow ul {
    margin-bottom: 3rem;
}

.contactpagesection .contactrow ul li span {
    display: inline-block;
    margin-left: 20px;
}
.col-5 {width: 50%;}
.contactforminnr {
    padding: 4rem 3rem;
}
.contactform {
    border-radius: 6px;
}
.contactforminnr h2 {
    margin-bottom: 4rem;
}
.contactforminnr .inputform input, .contactforminnr .inputform textarea {
    background: transparent;
    font-size: 16px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    font-family: 'Inter';
    width: 100%;
}
.contactforminnr .inputform {
    margin-bottom: 2rem;
}
.contactforminnr .inputform textarea {
    height: 10rem;
}
.contactforminnr .inputform button {
    border-radius: 4px;
    background: #582616;
    color: #fff;
    padding: 12px 34px;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'ivy-presto';
}
.contactform {
    position: sticky;
    top: 0;
}
.contactpagesection .row {
    justify-content: space-between;
}
.footebelowsec .marquee p {
	color: #000000;
	font-size: 12.5rem;
	white-space: nowrap;
	padding: 2rem 0 4rem;
}
/* End: Contact Page Css */

/* Start: About Us Page Css */
.traditionelegance .image img {
    width: 100%;
}
.traditionelegance .row {
    justify-content: center;
    text-align: center;
    padding-bottom: 4rem;
}
.traditioncontent h6 {
    font-family: 'Inter';
    font-size: 20px;
    line-height: 1.4;
    font-weight: 400;
    color: #000;
    opacity: 0.5;
    margin-bottom: 1rem;
}
.traditioncontent h2 {
    font-size: 3rem;
    font-style: italic;
    line-height: 1.4;
    color: #8B0000;
    margin-bottom: 5rem;
    font-weight: 100;
}
.storysuidhagaa {
    padding-top: 10rem;
}
.storysuidhagaa p {
    font-family: 'ivy-presto';
    font-size: 2.6rem;
    line-height: 1.4;
    color: #000;
    font-weight: 100;
    font-style: italic;
}
.storysuidhagaa p span:first-child {
    color: #8B0000;
    text-decoration: underline;
}
.storysuidhagaa .blockbtn {
    padding-top: 6rem;
}
.col-third {
    width: calc(100% / 3 );
    padding: 10px;
}
.countbox {
    background: #F2E8D3;
    border-radius: 4px;
    padding-bottom: 3.2rem;
}
.countbox .count {
    font-size: 23rem;
    color: #B7986D;
    opacity: 0.1;
    line-height: 0.9;
    margin-bottom: 3rem;
}
.countbox h6 {
    font-size: 1.75rem;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 2rem;
    padding: 0 1.75rem;
    color: #000;
}
.countbox h6 span {
    font-weight: 100;
    display: block;
}
.countbox p {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 300;
    padding: 0 1.75rem;
    font-family: 'Inter';
    color: #000;
}
.craftmandrivenluxury {
    padding-bottom: 8rem;
    padding-top: 8rem;
}
.footebelowsec {
    background: #F6F4F2;
    padding: 1rem 0;
    overflow: hidden;
}
.footebelowsec .marquee p {
    font-family: 'ivy-presto';
    color: #8B0000;
    font-weight: 100;
}
.meetafounder {
    padding: 8rem 0 8rem;
}
.meetafounder h4 {
    font-size: 2rem;
    line-height: 1.4;
    font-family: 'ivy-presto';
    color: #8B0000;
    font-weight: 100;
    font-style: italic;
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;

}
.imageright {
    width: 60%;
    margin-left: auto;
}
.visionmission .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visionmission .video {
    height: 100vh;
    border-radius: 4px;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.missionbox ul {
    display: flex;
    flex-wrap: wrap;
}

.missionbox ul li {
    width: calc(100% / 2);
    padding-left: 30px;
}

.missionbox ul li:first-child {
    width: 60%;
}

.missionbox ul li:last-child {
    width: 40%;
}

.missionbox ul li .image {
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 7rem;
}

.missionbox ul li  .contnt {
    padding-bottom: 6rem;
}

.missionbox ul li .contnt h5 {
    font-weight: 100;
    font-style: italic;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.missionbox ul li .contnt p {
    color: #000;
    font-size: 16px;
    line-height: 1.4;
}

section.visionmission {
    padding-bottom: 8rem;
}
/* End: About Us Page Css */

/* Start: Collection Details Page */
.imagefirstcollege {
    padding-top: 9rem;
    justify-content: space-between;
}
.imagefirstcollege .imageleft{
    width: 33.33%
}
.imagefirstcollege .imagecenter{
    width: 33.33%;
    margin-top: 7rem;
}
.imagefirstcollege .imageright{
    width: 15%;
    margin-left: 0px;
}
.imageboxes .heading {
    padding: 10rem 0 6rem;
    width: 50%;
    margin-left: auto;
    margin-right: 0%;
}
.imageboxes .heading h3 {
    color: #8B0000;
    font-family: 'Inter';
    font-weight: 300;
    line-height: 1.4;
    font-size: 2rem;
    text-transform: uppercase;
}
.Imagesblocks {
    justify-content: space-between;
}
.Imagesblocks .imageleft {
    width: 33.33%;
}
.Imagesblocks .imagecenter {
    width: 15%;
    margin-top: 8rem;
}
.Imagesblocks .imageright {
    width: 33.33%;
    margin-left: 0px;
    margin-top: 13rem;
}
.craftmandrivenluxury .headingbox {
    text-align: center;margin-bottom: 4.25rem;max-width: 50rem;margin-left: auto;margin-right: auto;
}
.craftmandrivenluxury .headingbox h2, .mommentscaptured .headingbox h2 {    
    font-size: 3rem;
    font-style: italic;
    line-height: 1.4;
    color: #8B0000;
    margin-bottom: 2rem;
    font-weight: 100;
}
.craftmandrivenluxury .headingbox p, .mommentscaptured .headingbox p {    
    color: #000;
    font-size: 18px;
    line-height: 1.4;
    font-family: 'Inter';
    font-weight: 300;
}
.mommentscaptured {
    padding-top: 5rem;
}
.max-w-500 {
    max-width: 500;
}
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}
.mommentscaptured .blockbtn {
    justify-content: end;margin-bottom: 4.5rem;
}
.mommentscapturedslider {
    width: 98%;
    margin-left: auto;
}
.mommentscapturedslide {
    width: 25rem !important; /* Adjust the maximum width of each slide */
    margin: 0 0; /* Add spacing between slides */
    height: 40rem;
}
.slick-current.slick-active .mommentscapturedslide {
    width: 50rem !important; /* Adjust the maximum width of each slide */
    margin: 0 0; /* Add spacing between slides */
}
.mommentscapturedslide .mommentscapturedinnr , .mommentscapturedslide .mommentscapturedinnr .img, .mommentscapturedslide .mommentscapturedinnr img{
    height: 100%;
    object-fit: cover;width: 100%;    object-position: top;
}
.slick-current.slick-active .mommentscapturedslide .mommentscapturedinnr img {
    object-position: center;
}
.mommentscapturedslider .slick-slide {
    height: auto;
}
.mommentscaptured .slider-nav {
    text-align: right;
    margin-top: 3rem;
    margin-bottom: 9rem;
    padding-right: 4rem;
}
.mommentscapturedslide  {
    padding: 5px;
}
.mommentscaptured .slider-nav button {
    border: 1px solid #8b0000;
    border-radius: 40px;
    margin-left: 12px;
}
.mommentscaptured .slider-nav button:hover {
    background: #8b0000;
}
.mommentscaptured .slider-nav button:hover path {
    stroke: #fff;
}
.mommentscapturedslider .slick-list {width: 98%; margin-left: auto;}
button.prev,
button.next {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}
.imageboxes img {
    filter: grayscale();
}
.imageboxes img:hover {
    filter: none;
}
/* End: Collection Details Page */

@media(max-width: 1440px) {
    html{
        font-size: 80%;
    }
}
@media(max-width: 1360px) {
    html{
        font-size: 70%;
    }
}
@media(max-width: 1100px) {
    html{
        font-size: 60%;
    }
}
@media(max-width: 1025px) {
    .col-third {
        width: calc(100% / 2);
    }
    .countbox {
        height: 100%;
    }
}
@media(max-width: 600px) {
    .visionmission .video {
        height: auto;
    }
    .missionbox {
        margin-top: 2rem !important;
    }
    section.meetafounder {
        padding: 40px 0;
    }
    .imageright {
        width: 100%;
    }
    .row.collectionbuttonright ul.blockbtn li a, .traditioncontent .button, .storysuidhagaa ul.blockbtn li a, .blockbtn li a {
        font-size: 14px;
    }
    .footebelowsec .marquee p {
        font-size: 8rem;
    }
    .image2 {
        margin-bottom: 3rem;
    }
    .missionbox ul li {
        padding-left: 0px;
        width: 100% !important;
    }
    .missionbox ul {
        flex-wrap: wrap;
    }
    .col-third {
        width: calc(100% / 1);
    }
    .col-third {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-col {
        display: none;
    }
    
    .siteheader .buttonright {
        display: none;
    }
    
    .humburgur {
        display: block !important;!i;!;
    }
    
    .humburgur svg {
        width: 30px;
        height: 30px;
        fill: #fff;
    }
    
    .humburgur svg path {
        stroke: #fff;
    }
    
    header.siteheader .row {
        align-items: center;
    }
    
    header.siteheader {
        padding: 2rem 0;
    }
    
    .contentbanner .heading h1 {
        font-size: 34px;
    }
    
    .contentbanner .heading {
        padding-bottom: 30rem;
    }
    
    .col-6, .col-25, .col-65, .col-5 {
        width: 100%;
    }
    
    .row.collectionmiddleright {
        padding: 0;
    }
    
    .collectionblock {
        padding-bottom: 40px;
    }
    
    .row.collectionmiddleleft {
        padding-bottom: 4rem;
    }
    
    .row.collectionbuttonright ul.blockbtn li a {
        margin-left: 20px;
        font-size: 16px;
    }
    
    .row.collectionbuttonright {
        padding-bottom: 6rem;
    }
    
    .collectionsection #linepath {
        top: auto;
        bottom: 0;
    }
    
    .handcraftedwithlove {
        padding-top: 4rem;
    }
    
    .handcraftedwithlove .heading p {
        width: 100%;
        padding-bottom: 5rem;
    }
    
    .col-4 {
        width: 100%;
    }
    
    .handcraftedwithlove .row ul.blockbtn li a {
        font-size: 13px;
    }
    
    .handcraftedwithloveslider .handcraftedwithslide {
        width: calc(100% / 1.5);
        flex: 0 0 calc(100% / 1.5);
    }
    
    .foundermessage .contentwrap {
        padding: 6rem 0 0rem;
    }
    
    div#slick-slide00 {
        height: auto;
    }
    
    .foundermessageslider {
        height: 40rem;
    }
    
    .foundermessage .blockwrappper {
        display: flex;
        overflow-x: auto;
        gap: 0;
        flex-wrap: unset !important;
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none;
        scrollbar-width: none;
        margin-right: -3.2rem;
        justify-content: flex-start;
        padding-bottom: 4rem;
    }
    
    .foundermessage .blockwrappper .blockcol {
        width: calc(100% / 1.5);
        flex: 0 0 calc(100% / 1.5);
    }
    
    .col-15 {
        width: 50%;
    }
    
    .row.footertop .col-7 {
        padding-top: 4rem;
    }
    
    .contactfooter p {
        font-size: 16px;
    }
    
    .copyrights p span {
        margin-left: 4px;
    }
    
    .copyrights p {
        text-align: center !important;
    }
    .navbar-col {
        padding-top: 10rem;
        position: fixed;
        background: #70433f;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
    }
    
    header.siteheader {
        z-index: 99999;
    }
    
    .navbar-col ul {
        display: block;
        text-align: center;
    }
    
    .navbar-col .close {
        display: inline-block !important;
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .navbar-col .close svg path {
        fill: #fff;
        stroke: #fff;
    }
    .row.collectionbuttonright ul.blockbtn li a {
        margin-left: 10px;
        font-size: 12px;
    }
    .row.collectionbuttonright ul.blockbtn li a svg {
        margin-left: 2px;
    }
    .handcraftedwithlove .row ul.blockbtn li {
        margin: 6px 0;
    }
    .handcraftedwithlove .row ul.blockbtn {
        flex-wrap: wrap;
        justify-content: center;
    }
    .exclusiveeventsection .wrappercontent {
        padding: 4rem 2rem;
    }
    .navbar-col ul li a {
        font-size: 16px;
        line-height: 1.4;
    }
    .collectionbg {
        top: -10px;
    }
    ul.slick-dots {
        bottom: -60px;
    }
    .navbar-col ul li {
        padding: 10px;
    }
    .collectionbg {display: none !important;}
    .navbar-col ul {
        text-align: left;
    }
    .handcraftedwithlove .heading h2 {
        font-size: 3rem;
    }
    .handcraftedwithlove .heading h2 {
        font-size: 3rem;
    }
    .handcraftedwithlove .heading h2 {
        margin-bottom: 20px;
    }
    .handcraftedwithlove .row ul.blockbtn li:last-child a {
        background: #6f0000;
        color: #fff;
        padding: 8px 14px 10px;
        display: inline-block;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .handcraftedwithlove .row ul.blockbtn li:last-child a svg {
        width: 12px;
        position: relative;
        top: 3px;
    }
    .handcraftedwithloveslider .handcraftedwithslide {
        width: calc(100% / 1.2);padding: 5px;
        flex: 0 0 calc(100% / 1.2);
    }
    .handcraftedwithlove .row ul.blockbtn li:last-child a svg path {
        stroke: #fff;
    }
    .row.collectionbuttonright {
        justify-content: center;
    }
    ul.slick-dots {
        bottom: -30px;
    }
    .row.collectionmiddleright h4, .row.fullcollection h4 {
        text-align: left;
    }
    .exclusiveeventsection .wrappercontent h6 {
        margin-bottom: 15px;
    }
    .collectionblock .img img {
        filter: none;
    }
    .exclusiveeventsection .wrappercontent h2 {
        font-size: 18px;
    }
    .exclusiveeventsection .wrappercontent h2 {
        font-size: 24px;
        line-height: 1.2;
    }
    .exclusiveeventsection .wrappercontent h6 {
        margin-bottom: 15px;
        font-size: 9px;
        line-height: 1.7;
    }
    .headingfooter h6 {
        margin-bottom: 15px;
    }
    .contactfooter p {
        font-size: 12px;
    }
    .copyrights p {
        text-align: left !important; padding-bottom: 4px;
    }
    .foundermessage .contentwrap p {
        font-size: 18px;
    }
    .mainbanner {
        padding-top: 40rem;
    }
    .contentbanner .heading {
        padding-bottom: 12rem;
    }
    .handcraftedwithlove .row ul.blockbtn li {
        width: 100%;
    }
    .handcraftedwithlove .row ul.blockbtn {
        text-align: center;
    }
    .traditioncontent h6 {
        font-size: 14px;
    }
    .countbox h6 {
        line-height: 1.5;
    }
    .missionbox ul li .contnt h5 {
        font-size: 25px;
    }
    .imageboxes .imagecenter, .imageboxes .imageright {
        display: none;
    }
    .imageboxes .imageleft {
        width: 100%;
    }
    .imagefirstcollege {
        padding-top: 40px;
    }
    .imageboxes .heading {
        width: 100%;
        padding-top: 5rem;
    }
    .mommentscaptured .blockbtn {
        margin-top: 5rem;
        justify-content: center;
    }
    .slick-current.slick-active .mommentscapturedslide {
        width: 31rem !important;
    }
    .mommentscaptured .slider-nav button svg {
        width: 16px;
        height: 16px;
    }
    .craftmandrivenluxury {
        padding-bottom: 0rem;
    }
    .imageboxes img {
        filter: none;
    }
}
